button{
	font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8; 
}

button:hover{
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
 }

 #todo{
 	font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #66ff99;
	border-radius:3px;
	border: solid 1px #D5ECF8; 
 }

 #StarhourID{
 	font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8;
	 }


 #StartminuteID{
 	font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8;  

 }

#hourID{
	font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8;  
}

#minuteID{
	font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8; 

}

#secondID{
    font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8; 
}
#operator{
	font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8; 
}

#checkButton{font-size: 100%;
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8; 

}
#checkButton:hover{
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

#toCheck{
	color: #66ff99;
	background-color: #FFFFFF;
	padding: .4px 2px;
	border: none 1px #57D0FC;
	border-radius:3px;
	border: solid 1px #D5ECF8; 
}
#toCheck:hover{
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}
